# Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@db:5416/apifake?schema=public"

# Node Environment
NODE_ENV="development"

# NextAuth/JWT Secret
JWT_SECRET="super-secret-random-key-change-in-production"
